
.number{
    position:relative;
    color: white;
    font-size: 1rem;
    background-color: rgb(168, 3, 3);
    width: 1.5rem;
    border-radius: 100%;
    text-align: center;
    left: -20px;

}


